<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.silencedut.knowweather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/FullImageActivity"
            android:launchMode="singleTask"
            >

        </activity>

        <service android:name=".scheduleJob.AlarmService"/>

        <service
            android:name=".scheduleJob.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <activity
            android:name=".citys.ui.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>

        <activity
            android:name=".user.AlarmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".user.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".user.ContactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".user.PayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".remoteviews.WeatherWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info"/>
            <intent-filter>
                <action android:name="main_activity_update_ui"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

        </receiver>


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105761457" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <!-- Beta弹窗必须的activity -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name="com.amap.api.location.APSService">
        </service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d4cfc1d729097577433b40b3b4f8e264">
        </meta-data>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582d54724ad1567cbc001e54"/>

    </application>


</manifest>